<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blueheart">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".forgotPassword"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".registrationActivity"
            android:screenOrientation="portrait"
            /> <!-- Main Activity -->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Device list -->
        <activity
            android:name=".deviceListActivity"
            android:label="@string/activity_device_list"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.blueheart.MainActivity" />
        </activity> <!-- Choose analysis tipe -->
        <activity
            android:name=".chooseAnalysisTypeActivity"
            android:label="Choose Analysis Type"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.blueheart.deviceListActivity" />
        </activity> <!-- Real time analysis -->
        <activity
            android:name=".realTimeAnalysisActivity"
            android:label="Real Time Analysis"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.blueheart.chooseAnalysisTypeActivity" />
        </activity> <!-- Record and send login -->
        <activity
            android:name=".recordAndSendLogin"
            android:label="Login"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.blueheart.chooseAnalysisTypeActivity" />
        </activity> <!-- Record and send -->
        <activity
            android:name=".recordAndSendActivity"
            android:label="Record and Send"
            android:parentActivityName=".recordAndSendLogin"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.blueheart.recordAndSendLogin" />
        </activity>
        <activity
            android:name=".DeviceListActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog"/>
    </application>

</manifest>